nav {
  background-color: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 50px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

nav ul li {
  display: inline-block;
  margin-top: 12px;
  padding-right: 10px; }

nav ul li a:hover {
  color: blueviolet;
  font-weight: bold; }

nav ul li a {
  color: black;
  text-decoration: none; }

.mainclass {
  display: grid;
  grid-template-areas: "top" "horarios" "beneficios" "video" "extras"; }
  .mainclass .seccion-top {
    grid-area: top; }
  .mainclass .seccion-horarios {
    grid-area: horarios; }
  .mainclass .beneficios {
    grid-area: beneficios; }
  .mainclass .seccion-video {
    grid-area: video; }
  .mainclass .extras {
    grid-area: extras; }
  .mainclass .seccion-top {
    background-color: azure;
    height: 500px;
    position: relative; }
    .mainclass .seccion-top img {
      width: 100%;
      height: 500px;
      opacity: 40%;
      filter: brightness(80%); }
    .mainclass .seccion-top .texto-encima {
      position: absolute;
      font-size: 70px;
      top: 100px;
      left: 80px; }
  .mainclass .seccion-horarios {
    background-color: #d8d8d8;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .mainclass .horario1 {
    background-color: #EFEFEF;
    height: 400px;
    width: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .mainclass .horario1:hover {
    background-color: black;
    color: #EFEFEF; }
  .mainclass .horario2 {
    background-color: #EFEFEF;
    height: 400px;
    width: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .mainclass .horario2:hover {
    background-color: black;
    color: #EFEFEF; }
  .mainclass .horario3 {
    background-color: #EFEFEF;
    height: 400px;
    width: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .mainclass .horario3:hover {
    background-color: black;
    color: #EFEFEF; }
  .mainclass .beneficios {
    background-color: #d9bbef;
    height: 500px;
    display: flex;
    justify-content: space-around; }
    .mainclass .beneficios .beneficios_img img {
      height: 400px;
      width: 400px;
      margin-top: 40px; }
    .mainclass .beneficios .beneficios_texto {
      height: 400px;
      width: 400px;
      margin-top: 90px; }
  .mainclass .extras {
    background-color: #d9bbef;
    height: 500px;
    display: flex;
    justify-content: space-around; }
    .mainclass .extras .extras_img img {
      height: 400px;
      width: 400px;
      margin-top: 40px; }
    .mainclass .extras .extras_texto {
      height: 400px;
      width: 400px;
      margin-top: 90px; }
  .mainclass .seccion-video {
    background-color: #FAC6BA;
    height: 500px;
    display: flex;
    justify-content: center; }
    .mainclass .seccion-video .videoframe {
      margin-top: 80px; }

main .form {
  display: flex;
  justify-content: center;
  height: 520px; }

.beneficios {
  background-color: #d9bbef;
  height: 500px;
  display: flex;
  justify-content: space-around; }
  .beneficios .beneficios_img img {
    height: 400px;
    width: 400px;
    margin-top: 40px; }
  .beneficios .beneficios_texto {
    height: 400px;
    width: 400px;
    margin-top: 90px; }

.seccion-top {
  background-color: azure;
  height: 500px; }
  .seccion-top h1 {
    font-size: 70px;
    padding-top: 100px;
    padding-left: 80px; }

.seccion-top-music {
  height: 500px;
  position: relative; }
  .seccion-top-music img {
    width: 100%;
    height: 500px;
    opacity: 70%;
    filter: blur(4px); }
  .seccion-top-music .texto-encima {
    position: absolute;
    font-size: 70px;
    top: 100px;
    left: 80px; }

.seccion-top-shop {
  height: 500px;
  position: relative; }
  .seccion-top-shop img {
    width: 100%;
    height: 500px;
    opacity: 70%;
    filter: blur(4px); }
  .seccion-top-shop .texto-encima {
    position: absolute;
    font-size: 70px;
    top: 100px;
    left: 80px; }

.seccion-top-plan {
  height: 500px;
  position: relative; }
  .seccion-top-plan img {
    width: 100%;
    height: 500px;
    opacity: 70%;
    filter: blur(4px); }
  .seccion-top-plan .texto-encima {
    position: absolute;
    font-size: 70px;
    top: 100px;
    left: 80px; }

.seccion-top-experience {
  height: 500px;
  position: relative; }
  .seccion-top-experience img {
    width: 100%;
    height: 500px;
    opacity: 70%;
    filter: blur(4px); }
  .seccion-top-experience .texto-encima {
    position: absolute;
    font-size: 70px;
    top: 100px;
    left: 80px; }

.seccion-top-contact {
  height: 180px;
  background-color: azure; }
  .seccion-top-contact h1 {
    font-size: 70px;
    padding-top: 100px;
    padding-left: 80px; }

footer {
  background-color: black;
  padding-top: 20px; }
  footer .iconos-redes-sociales {
    display: flex;
    justify-content: center; }
    footer .iconos-redes-sociales .icono-fbk img {
      width: 40px;
      height: 40px;
      margin-right: 10px; }
    footer .iconos-redes-sociales .icono-ig img {
      width: 40px;
      height: 40px;
      margin-left: 10px; }
  footer p {
    text-align: center;
    color: #EFEFEF; }

@media screen and (max-width: 420px) {
  header {
    display: flex;
    justify-content: center; }
    header nav {
      padding-right: 0;
      width: 100%;
      justify-content: center; }
  .mainclass {
    display: grid;
    grid-template-areas: "top" "horarios" "beneficios" "video" "extras"; }
    .mainclass .seccion-top {
      grid-area: top;
      width: 420px; }
    .mainclass .seccion-horarios {
      grid-area: horarios;
      display: flex;
      flex-direction: column;
      height: fit-content;
      align-items: center;
      justify-content: center;
      width: 420px; }
    .mainclass .beneficios {
      grid-area: beneficios;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      align-items: center;
      justify-content: center;
      height: 700px;
      width: 420px; }
    .mainclass .seccion-video {
      grid-area: video;
      display: flex;
      flex-direction: column;
      width: 420px;
      height: 420px;
      padding-bottom: 80px; }
      .mainclass .seccion-video .videoframe iframe {
        width: 100%; }
    .mainclass .extras {
      grid-area: extras;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      height: 680px;
      align-items: center;
      justify-content: center;
      width: 420px; }
  .beneficios {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    height: 650px;
    width: 420px; } }
